{:paths ["src"]
 :deps  {poly/util                        {:local/root "../util"}
         poly/graph                       {:local/root "../graph"}
         poly/grid                        {:local/root "../grid"}
         poly/intcode                     {:local/root "../intcode"}
         poly/math                        {:local/root "../math"}
         poly/maze                        {:local/root "../maze"}
         poly/vectors                     {:local/root "../vectors"}
         org.clojure/data.priority-map    {:mvn/version "1.1.0"}
         org.clojure/math.combinatorics   {:mvn/version "0.1.6"}
         clojure-lanterna/clojure-lanterna {:mvn/version "0.9.7"}
         manifold/manifold                {:mvn/version "0.2.4"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
